.env
.venv
temp3DB
temp3DB.sql
temp4DB
temp5DB
DevDB.db
testDB.db

c1.bash
.venv/*
venv/
key.pem
.env
.env
celerybeat-schedule.db
.gitignore
cu.bash
c1.bash
curl.bash
n.conf
u.bash
temp3DB
temp4DB
temp5DB
DevDB.sql